﻿@using Eshopping.Models.ViewModels
@model CartItemViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h4>Cart</h4>
<style type="text/css">
	.css_select_div {
		text-align: center;
	}

	.css_select {
		display: inline-table;
		width: 500px;
		padding: 5px;
		margin: 5px 2%;
		border: solid 1px #686868;
		border-radius: 5px;
	}

</style>
<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li class="active">Shopping Cart</li>
			</ol>
		</div>
		<div class="table-responsive cart_info">
			<table class="table table-condensed">
				<thead>
					<tr class="cart_menu">
						<td class="image">Item</td>
						<td class="description"></td>
						<td class="price">Price</td>
						<td class="quantity">Quantity</td>
						<td class="total">Total</td>
						<td></td>
					</tr>
				</thead>
				<tbody>

					@if (Model.CartItems.Count > 0)
					{
						@foreach (var item in Model.CartItems)
						{
							<tr>
								<td class="cart_product">
									<a href=""><img src="~/images/cart/@item.Image" alt=""></a>
								</td>
								<td class="cart_description">
									<h4><a href="">@item.ProductName</a></h4>
									<p>Web ID: 1089772</p>
								</td>
								<td class="cart_price">
									<p>@item.Price.ToString("#,##0 VNĐ")</p>
								</td>
								<td class="cart_quantity">

									<a class="btn btn-success btn-sm" asp-controller="Cart" asp-action="Increase" asp-route-id="@item.ProductId"> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="@item.Quantity" autocomplete="off" size="2">
									<a class="btn btn-success btn-sm" asp-controller="Cart" asp-action="Decrease" asp-route-id="@item.ProductId"> - </a>
									<a class="btn btn-danger btn-sm" asp-controller="Cart" asp-action="Remove" asp-route-id="@item.ProductId"> Remove </a>

								</td>
								<td class="cart_total">
									<p class="cart_total_price">$@Model.CartItems.Where(x => x.ProductId == @item.ProductId).Sum(x => x.Quantity * x.Price).ToString()</p>
								</td>
								<td class="cart_delete">
									<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
								</td>
							</tr>
						}
						<tr>
							<td rowspan="10">
								Grand Total:<p class="cart_total_price"> @Model.GrandTotal.ToString("#,##0 VNĐ")</p>
								<form>

									Coupon Code:<input type="text" class="form-control coupon-value" />
									<span class="text text-success">@Model.CouponCode</span>
									<input type="button" value="Apply" class="btn btn-sm btn-primary btn-apply-coupon" />
								</form>
								Shipping Cost:<p class="cart_total_price"> @Model.ShippingCost.ToString("#,##0 VNĐ")</p>

								<p>	<a asp-action="RemoveShippingCookie" asp-controller="Cart">Delete Shipping</a> </p>

							</td>
							<td rowspan="20">
								<div class="form-group">
									<label>Select Province</label>
									<select class="css_select" id="tinh" name="tinh" title="Chọn Tỉnh Thành">
										<option value="0">Tỉnh Thành</option>
									</select>
								</div>

								<div class="form-group">
									<label>Select District</label>
									<select class="css_select" id="quan" name="quan" title="Chọn Quận Huyện">
										<option value="0">Quận Huyện</option>
									</select>
								</div>

								<div class="form-group">
									<label>Select Commune</label>
									<select class="css_select" id="phuong" name="phuong" title="Chọn Phường Xã">
										<option value="0">Phường Xã</option>
									</select>
								</div>

								<button type="button" class="btn btn-default btn-add-shipping">Calculate shipping fees</button>
							</td>

							<td><a class="btn btn-danger btn-sm" asp-controller="Cart" asp-action="ClearCart"> clear </a></td>
							@if (User.Identity?.IsAuthenticated ?? false)  //ktra nếu ng dùng đã đăng nhập thì mới đc Checkout
							{
								<td>
									@if (Model.ShippingCost <= 0)
									{
										<a disable="disabled" onclick="return confirm('Confirm checkout?')" class="btn btn-primary btn-sm" asp-controller="Checkout" asp-action="Checkout"> Checkout </a>
						//nếu gía ship<=0 ta ko cho Checkout, ta dùng disable để ẩn nút Checkout đi ko cho ng dùng nhấn vào
										<br />
										<span class="text text-danger">Please click calculate shipping before Checkout</span>
									}
									else
									{
										<a class="btn btn-primary btn-sm" asp-controller="Checkout" asp-action="Checkout"> Checkout </a>

									}
								</td>
							}

						</tr>
					}
					else
					{
						<tr>
							<td colspan="5"><h4>Your Cart is Empty</h4></td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</section> <!--/#cart_items-->
@section Scripts
{
	@* khi người dùng ấn nút thêm coupon: *@
	<script>
		$(".btn-apply-coupon").click(function () {
			var coupon_value = $(".coupon-value").val();
			//alert(coupon_value);
			$.ajax({
				type: "POST",
				url: "@Url.Action("GetCoupon", "Cart")",
				data: { coupon_value: coupon_value },
				success: function (result) {  //ta ktra nếu mã giảm giá đó còn lại => lấy ra đc và ta hiện thông báo
					if (result.success) {
						Swal.fire(result.message).then(() => {
							setTimeout(function () {
								location.reload();  //Bạn đang gọi location.reload() khi ajax thành công.
								//Điều này sẽ tải lại toàn bộ trang sau khi áp dụng coupon, nhưng trước khi nó tải lại,
								//  SweetAlert có thể không hiển thị do trang đã được reload. Để hiển thị thông báo trước khi tải lại trang, bạn có thể thêm một thời gian chờ bằng setTimeout
							}, 1500); // Đợi 1.5 giây trước khi tải lại trang
						});
					} else {
						Swal.fire(result.message);
					}
				}
			});
		});
	</script>

	<script>
		//khi người dùng nhấn tạo để có thể lấy thông tin tỉnh thành phố và gửi ship:
		$(".btn-add-shipping").click(function () {
			//nó sẽ lấy tỉnh , thành phố, xã để trả về:
			var tinh = $("#tinh").find('option:selected').text();
			var quan = $("#quan").find('option:selected').text();
			var phuong = $("#phuong").find('option:selected').text();

			var price = $("#price-shipping").val();

			if (tinh == '' || quan == '' || phuong == '' || price == '') {
				Swal.fire("Don't left blank");
			} else {
				$.ajax({
					type: "POST",
					url: "@Url.Action("GetShipping", "Cart")",
					data: { tinh: tinh, quan: quan, phuong: phuong, price: price },

					success: function (result) {
						//successful
						if (result)

							location.reload();  //sau khi gửi dữ liệu thì xóa tỉnh thành phố cũ vừa chọn

					}
				});
			}
		})  //ko đc bỏ ngoặc tròn thừa ở cuối này. RẤT QUAN TRỌNG, NẾU THIẾU NÓ LÀ AJAX KO CHẠY

		$(document).ready(function () {
			//Lấy tỉnh thành
			$.getJSON('https://esgoo.net/api-tinhthanh/1/0.htm', function (data_tinh) {
				if (data_tinh.error == 0) {
					$.each(data_tinh.data, function (key_tinh, val_tinh) {
						$("#tinh").append('<option value="' + val_tinh.id + '">' + val_tinh.full_name + '</option>');
					});
					$("#tinh").change(function (e) {
						var idtinh = $(this).val();
						//Lấy quận huyện
						$.getJSON('https://esgoo.net/api-tinhthanh/2/' + idtinh + '.htm', function (data_quan) {
							if (data_quan.error == 0) {
								$("#quan").html('<option value="0">Quận Huyện</option>');
								$("#phuong").html('<option value="0">Phường Xã</option>');
								$.each(data_quan.data, function (key_quan, val_quan) {
									$("#quan").append('<option value="' + val_quan.id + '">' + val_quan.full_name + '</option>');
								});
								//Lấy phường xã
								$("#quan").change(function (e) {
									var idquan = $(this).val();
									$.getJSON('https://esgoo.net/api-tinhthanh/3/' + idquan + '.htm', function (data_phuong) {
										if (data_phuong.error == 0) {
											$("#phuong").html('<option value="0">Phường Xã</option>');
											$.each(data_phuong.data, function (key_phuong, val_phuong) {
												$("#phuong").append('<option value="' + val_phuong.id + '">' + val_phuong.full_name + '</option>');
											});
										}
									});
								});

							}
						});
					});

				}
			});
		});
	</script>


}