@model IEnumerable<ProductModel>
@{
	ViewData["title"] = "Product Listed";
	Paginate pager = new Paginate();

	int pageNo = 0; // So tran dau tien = 0

	if (ViewBag.Pager != null) // Đang co trang
	{
		pager = ViewBag.Pager;

		pageNo = pager.CurrentPage;
	}
}
<h4>List Product </h4>
@* thêm sửa xóa sp: *@
<a class="btn btn-warning btn-sm" asp-action="Create" asp-controller="Product">Add Product</a>
<table class="table" id="myTable">
	<thead>
		<tr>
			<th scope="col">STT</th>
			<th scope="col">Product Name</th>
			<th scope="col">Product Quantity</th>
			<th scope="col">Product Sold</th>
			<th scope="col">Product Description</th>
			<th scope="col">Product Price</th>
			<th scope="col">Product Image</th>
			<th scope="col">Product Slug</th>
			<th scope="col">Product Cayegory</th>
			<th scope="col">Product Brand</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				@* hiển thị sp từ csdl dưới dạng 1 bảng: sau này khi chèn thêm các sp vào csdl nó sẽ in ra thông  tin ở đây  *@
				<th scope="row">@item.Id</th>
				<td>@item.Name</td>
				<td><b>@item.Quantity</b> <br />
					<a asp-controller="Product" asp-action="AddQuantity" asp-route-Id="@item.Id">Add Quantity</a></td>
				<td><b>@item.Sold</b></td>
				@* Phương thức Html.Raw() sẽ render thô nội dung HTML thay vì escape các ký tự đặc biệt *@
				<td>@Html.Raw(@item.Description)</td>
				<td>@item.Price.ToString("#,##0 VNĐ")</td>

				<td><img src="@Url.Content("~/media/products/" + item.Image)" alt="Product Image" width="120" /></td>
				@* đường dẫn ~/ trong ASP.NET Core chỉ được xử lý đúng khi sử dụng Url.Content() *@
				<td>@item.Slug</td>
				<td>@item.Category.Name</td>
				<td>@item.Brand.Name</td>
				<td>
					@* chỉnh sửa or xóa sp trong admin nó sẽ dựa vào id của sp đó, từ id đó trả  về thông tin sp *@
					<a asp-action="Edit" class="btn btn-warning btn-sm" asp-controller="Product" asp-route-Id="@item.Id">Edit</a>
					<a asp-action="Delete" class="btn btn-danger btn-sm confirmDeletion" asp-controller="Product" asp-route-Id="@item.Id">Delete</a>
				</td>
			</tr>

		}
	</tbody>
</table>
	@* database JS: tìm kiếm dữ liệu từ bảng có id="mytable" ở trên
	-VD ta có thể nhập tên, id, mã sp ... miến có thông tin nào khớp nó sẽ hiển thị ra sp đó
	*@
@section Scripts {
	<script>
		//nó gọi đến id của thẻ table ở trên =>> render ra thông tin theo dạng bảng này để tìm
		let table = new DataTable('#myTable', {
			layout: {
				topStart: {
					buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
				}
			}
		});
	</script>
}
<partial name="_paging" model="@pager"></partial>
