@model IEnumerable<ProductModel>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="_SliderPartial"/>
<div class="col-sm-3">
	@Html.Partial("_SidebarPartial")
</div>
<style>
	.product-image-wrapper{
		height:450px;
	}

	 .choose .nav.nav-pills.nav-justified li{
  margin-top:17px;

	 }

		.choose .nav.nav-pills.nav-justified li .add-btn-wishlist {
			margin:15px;
			border-radius: 5px;
			margin-top: 8px;
		}	
		.choose .nav.nav-pills.nav-justified li .add-btn-compare {
		
			margin:15px;
			border-radius: 5px;
			margin-top: 8px;
		}

	.productinfo img {
		width: 50%;
	}
</style>
<div class="col-sm-9 padding-right">
	<div class="features_items">
		<!--features_items-->
		<h2 class="title text-center">Features Items</h2>
		@foreach (var item in Model)
		{
			<div class="col-sm-4">
				<div class="product-image-wrapper">
					<div class="single-products">

						
						<div class="productinfo text-center">
							<a asp-action="Details" asp-controller="Product" asp-route-Id="@item.Id">
							<img src="~/media/products/@item.Image" alt="@item.Name" width="100%" />
								<h2>@item.Price.ToString("#,##0 VNĐ")</h2>

							<p> @item.Name</p>
							<p>Category : @item.Category.Name</p>
							<p>Brand : @item.Brand.Name</p>
							</a>

							@*het hang*@
							@if(item.Quantity > 0) {
								<button class="btn btn-default add-to-cart" data-product_id="@item.Id">
									<i class="fa fa-shopping-cart"></i>Add to cart
								</button>
							}
							else
							{
								<button class="btn btn-default ">
									<i class="fa fa-shopping-cart"></i>Sold out
								</button>
							}
								
						</div>
						
@*  PHẦN HOVER ĐỂ HIỆN GIÁ TRÊN SẢN PHẨM :TA TẮT NÓ ĐI ĐỂ KHI BẤM VAO SP NÓ MỚI CHUYỂN TRANG PRODUCT ĐC 
						 <div class="product-overlay">
						 	<div class="overlay-content">
						 		<h2>$@item.Price</h2>
						 		<p>@item.Name</p>
						 		<a href="#" class="btn btn-default add-to-cart">
						 			<i class="fa fa-shopping-cart"></i>Add to cart
						 		</a>
						 	</div>
						 </div> *@

						
					</div>
					<div class="choose">
						@if (User.Identity?.IsAuthenticated ?? false)  //ta ktra nếu user đăng nhập mới cho bấm wishlist và compare
						{
							<ul class="nav nav-pills nav-justified">
								<li><button class="btn btn-danger add-btn-wishlist" data-product_id="@item.Id"><i class="fa fa-plus-square "></i>Wishlist</button></li>
								<li><button class="btn btn-primary add-btn-compare" data-product_id="@item.Id"><i class="fa fa-plus-square "></i>Compare</button></li>
							</ul>
						}
					</div>
				</div>
			</div>

		}
	</div><!--features_items-->


	<div class="recommended_items">
		<!--recommended_items-->
		<h2 class="title text-center">recommended items</h2>
		@{
			// Chia danh sách sản phẩm thành hai phần: phần đầu và phần còn lại
			var firstHalf = Model.Take(Model.Count() / 2); // Lấy nửa đầu
			var secondHalf = Model.Skip(Model.Count() / 2); // Lấy nửa sau
		}

		<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="item active">
					@foreach (var item in firstHalf)
					{
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">


									<div class="productinfo text-center">
										<a asp-action="Details" asp-controller="Product" asp-route-Id="@item.Id">
											<img src="~/media/products/@item.Image" alt="@item.Name" width="100%" />
											<h2>@item.Price.ToString("#,##0 VNĐ")</h2>

											<p> @item.Name</p>
											<p>Category : @item.Category.Name</p>
											<p>Brand : @item.Brand.Name</p>
										</a>


									</div>

								</div>
				
							</div>
						</div>

					}
				</div>
				<div class="item">
					@foreach (var item in secondHalf)
					{ 
						<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">


									<div class="productinfo text-center">
										<a asp-action="Details" asp-controller="Product" asp-route-Id="@item.Id">
											<img src="~/media/products/@item.Image" alt="@item.Name" width="100%" />
											<h2>@item.Price.ToString("#,##0 VNĐ")</h2>

											<p> @item.Name</p>
											<p>Category : @item.Category.Name</p>
											<p>Brand : @item.Brand.Name</p>
										</a>

									</div>
								</div>
							</div>
						</div>

					}
				</div>
			</div>
			<a class="left recommended-item-control" href="#recommended-item-carousel"
			   data-slide="prev">
				<i class="fa fa-angle-left"></i>
			</a>
			<a class="right recommended-item-control" href="#recommended-item-carousel"
			   data-slide="next">
				<i class="fa fa-angle-right"></i>
			</a>
		</div>
	</div><!--/recommended_items-->

</div>

@* thay vì dùng form để Add to cart ta sẽ dùng code ajax cho gọn : đây là Add to cart ở trang chủ,còn thêm sp trong admin vẫn dùng code c#  *@
@section Scripts {
<script>
	$(document).ready(function () {
		$('.add-to-cart').click(function () {  //khi ta bấm nút thêm sp
			var Id = $(this).data("product_id");  //nó sẽ lấy id sp đó 
			//alert(product_id);
			$.ajax({
				type: "POST",
				url: "@Url.Action("Add", "Cart")",  //từ id đó gửi đến hàm add trong CartController 
				data: { Id: Id }, // Send data to the server
				success: function (result) {
					// Handle successful update
					if (result) {
						Swal.fire("Add to cart succeed!");
					}
				}
			});
		});
	});
</script>
@*  Wishlist :Wishlist *@
<script>
	$(document).ready(function () {
		$('.add-btn-wishlist').click(function () {  //khi ta bấm nút thêm sp
			var Id = $(this).data("product_id");  //nó sẽ lấy id sp đó 
			//alert(product_id);
			$.ajax({
				type: "POST",
				url: "@Url.Action("AddWishlist", "Home")",  //từ id đó gửi đến hàm add trong CartController 
				data: { Id: Id }, // Send data to the server
				success: function (result) {
					// Handle successful update
					if (result.success) {
						Swal.fire(" Wishlist succeed!!");
					}
					else {
                    Swal.fire("Error", result.message, "error");
					}
				}
			});
		});
	});
</script>
@*  Compare  :Compare *@
<script>
	$(document).ready(function () {
		$('.add-btn-compare').click(function () {  //khi ta bấm nút thêm sp
			var Id = $(this).data("product_id");  //nó sẽ lấy id sp đó 
			//alert(product_id);
			$.ajax({
				type: "POST",
				url: "@Url.Action("AddCompare", "Home")",  //từ id đó gửi đến hàm add trong CartController 
				data: { Id: Id }, // Send data to the server
				success: function (result) {
					// Handle successful update
					if (result.success) {
						Swal.fire("Success", result.message, "succeed!!"); // Swal.fire là một hàm của thư viện JavaScript có tên SweetAlert2
					}
					else {
						Swal.fire("Error", result.message, "error");
					}
				}
			});
		});
	});
</script>

}