@model ContactModel

<div class="row">

		<div class="col-sm-3">
			<div class="companyinfo">
			<p><img src="@Url.Content("~/media/logo/" + @Model.LogoImg)" alt="Product Image" width="120" /></p>
			<p>@Html.Raw(@Model.Description)</p>
			</div>
		</div>
	
@* 		 <div class="col-sm-5 col-md-5">
		 	<div class="mapouter"><div class="gmap_canvas"><iframe src="https://maps.google.com/maps?q=university%20of%20transport%20and%20comunication&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" scrolling="no" style="width: 300px; height: 200px;"></iframe><style>.mapouter{display:table;}.gmap_canvas{overflow:hidden;position:relative;height:400px;width:440px;background:#fff;}</style><a href="https://www.taxuni.com/w9-instructions/">w-9 instructions</a><style>.gmap_canvas iframe{position:relative !important;z-index:2 !important;}.gmap_canvas a{color:#fff !important;position:absolute !important;top:0 !important;left:0 !important;z-index:0 !important;}</style></div></div>
		 	</div>
 *@
	<div class="col-sm-5 col-md-5">
		<div class="mapouter">
			<div class="gmap_canvas">
				<iframe src="https://maps.google.com/maps?q=university%20of%20transport%20and%20comunication&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" scrolling="no" style="width: 380px; height: 200px;"></iframe><style>
																																																										   .mapouter {
																																																											   display: table;
																																																										   }

																																																										   .gmap_canvas {
																																																											   overflow: hidden;
																																																											   position: relative;
																																																											   height: 200px;
																																																											   width: 340px;
																																																											   background: #fff;
																																																										   }</style><a href="https://www.taxuni.com/w9-instructions/">w-9 instructions</a><style>
																																																																	.gmap_canvas iframe {
																																																																		position: relative !important;
																																																																		z-index: 2 !important;
																																																																	}

																																																																	.gmap_canvas a {
																																																																		color: #fff !important;
																																																																		position: absolute !important;
																																																																		top: 0 !important;
																																																																		left: 0 !important;
																																																																		z-index: 0 !important;
																																																																	}</style>
			</div>
		</div>
	</div>

		<div class="col-sm-4">
			<div class="address">
				<h5><b>Name : @Model.Name</b></h5>
				<h5>Email : @Model.Email</h5>
				<h5>Phone : @Model.Phone</h5>

			</div>
		</div>
	
</div>