@model IEnumerable<OrderModel>
@{
	ViewData["title"] = "Order List";
}

<h4>List Order </h4>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Order Code</th>
            <th scope="col">Username</th>
            <th scope="col">Order Date</th>
            <th scope="col">Order Status</th>
            <th scope="col">Action</th>
  
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                @* hiển thị sp từ csdl dưới dạng 1 bảng: sau này khi chèn thêm các sp vào csdl nó sẽ in ra thông  tin ở đây  *@
                <th scope="row">@item.OrderCode</th>
                <td>@item.UserName</td>

                @* Phương thức Html.Raw() sẽ render thô nội dung HTML thay vì escape các ký tự đặc biệt *@
                <td>@item.CreateDate</td>

                <td>
                    @if(item.Status==1)
                    {
                        <span class="text text-success">Đơn hàng mới</span>
                    }else
                    {
                         <span class="text text-danger">Đơn hàng đã xử lý</span>
                    }
                </td>

                <td>
                    @* chỉnh sửa or xóa sp trong admin nó sẽ dựa vào id của sp đó, từ id đó trả  về thông tin sp *@
                    <a asp-action="ViewOrder" class="btn btn-warning btn-sm" asp-controller="Order" asp-route-ordercode="@item.OrderCode">View Order</a>
                    <a asp-action="Delete" class="btn btn-danger btn-sm confirmDeletion" asp-controller="Order" asp-route-Id="@item.Id">Delete</a>
                </td>
            </tr>

        }
    </tbody>
</table>
@* database JS: tìm kiếm dữ liệu từ bảng có id="mytable" ở trên
	-VD ta có thể nhập tên, id, mã sp ... miến có thông tin nào khớp nó sẽ hiển thị ra sp đó
	*@
@section Scripts {
    <script>
        let table = new DataTable('#myTable');  //nó gọi đến id của thẻ table ở trên =>> render ra thông tin theo dạng bảng này để tìm
    </script>
}