@model IEnumerable<ProductModel>

<div class="col-sm-3">
	@Html.Partial("_SidebarPartial")
</div>
<style>
	.product-image-wrapper {
		height: 450px;
	}
</style>

<div class="col-sm-9 padding-right">
	<partial name="_FilterProductsPartial" />
	<div class="features_items">
		<!--features_items-->
		<h2 class="title text-center">Features Items</h2>
		@foreach (var item in Model)
		{
			<div class="col-sm-4">
				<div class="product-image-wrapper">
					<div class="single-products">
						<div class="productinfo text-center">

							<img src="~/media/products/@item.Image" alt="@item.Name" width="100%" />
							<h2>@item.Price.ToString("#,##0 VNĐ")</h2>
							<p>Tên sản phẩm : @item.Name</p>
							<p>Danh mục : @item.Category.Name</p>
							<p>Thương hiệu : @item.Brand.Name</p>
							@if (item.Quantity > 0)
							{
								<a class="btn btn-default add-to-cart" asp-action="Add" asp-controller="Cart" asp-route-Id="@item.Id">
									<i class="fa fa-shopping-cart"></i>Add to cart
								</a>
							}
							else
							{
								<button type="button" class="btn btn-fefault">
									<i class="fa fa-shopping-cart"></i>
									Hết hàng
								</button>
							}

						</div>
						@* đoạn code này để khi hover sp nó sẽ hiện 1 lớp đè lên lớp cũ, ta chỉnh nút add to cart giống với nút ở trên => nó cũng có thể add vào giỏ hàng  *@
						<div class="product-overlay">
							<div class="overlay-content">
								<h2>@item.Price.ToString("#,##0 VNĐ")</h2>
								<p>@item.Name</p>
								<a class="btn btn-default add-to-cart" asp-action="Add" asp-controller="Cart" asp-route-Id="@item.Id">
									<i class="fa fa-shopping-cart"></i>Add to cart
								</a>
							</div>
						</div>
					</div>
					<div class="choose">
						<ul class="nav nav-pills nav-justified">
							<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
							<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
						</ul>
					</div>
				</div>
			</div>



		}
	</div><!--features_items-->


</div>

@section Scripts {
	<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
	<script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>
	<script>
		$(document).ready(function () {
    // Khởi tạo slider
    $("#slider-range").slider({
        range: true,
		step: 1000000,
        min: 0,
        max: 50000000,
        values: [0, 3000000],
        slide: function (event, ui) {
            $("#amount").val( + ui.values[0] + " vnd" + " - " + ui.values[1] + "vnd");
        }
    });

    // Gán giá trị ban đầu cho input
    $("#amount").val( $("#slider-range").slider("values", 0) + "vnd" + " - " + $("#slider-range").slider("values", 1) + "vnd");

    // Btn lọc giá
    $('.btn-locgia').on('click', function () {
        // Lấy đường dẫn hiện tại
        var url = $(this).data("current_url");
        // alert(url); Hiển thị đường dẫn hiện tại

        // Nếu có url
        if (url) {
            window.location = url + "?startprice=" + $("#slider-range").slider("values", 0)  // Lấy giá trị đầu tiên của slider
                + "&endprice=" + $("#slider-range").slider("values", 1); // Lấy giá trị thứ hai của slider
        }
        return false;
    });
});

	
	</script>

	<script>

	</script>

	<script type="text/javascript">
		$(document).ready(function () {

			// Khi thay đổi kiểu sắp xếp(vd: giá tăng, giảm dần,...)
			$('#sort_by').on('change', function () {
				// Lấy current url từ value của option trong file filter products partial
				var url = $(this).val();

				if (url) {
					// Truyền địa chỉ lên đường dẫn trong window
					window.location = url;
				}
				console.log($('.btn-locgia').length);

				return false;
			});


	</script>

}