@model IEnumerable<OrderModel>
@{
    ViewData["title"] = " List History Orders placed by "+" "+@ViewBag.UserEmail;
}

<h3 style="font-weight:bold">List History Orders placed by :<span style="color:cadetblue">@ViewBag.UserEmail</span>  </h3>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Order Code</th>
            <th scope="col">Shipping Code</th>
            <th scope="col">Coupon Code</th>
            <th scope="col">Username</th>
            <th scope="col">Order Date</th>
            <th scope="col">Order Status</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                @* hiển thị sp từ csdl dưới dạng 1 bảng: sau này khi chèn thêm các sp vào csdl nó sẽ in ra thông  tin ở đây  *@
                <th scope="row">@item.OrderCode</th>
                <th scope="row">@item.ShippingCost.ToString("#,##0 VNĐ")</th>
                <th scope="row">@item.CouponCode</th>
                <td>@item.UserName</td>

                @* Phương thức Html.Raw() sẽ render thô nội dung HTML thay vì escape các ký tự đặc biệt *@
                <td>@item.CreateDate</td>

                <td>
                    @if (item.Status == 1)
                    {
                        <span class="text text-success">Đơn hàng mới</span>
                    }
                    else if (item.Status == 2)
                    {
                        <span class="text text-primary">Đơn hàng đã xử lý</span>
                    } 
                    else 
                    {
                        <span class="text text-danger">Đơn hàng đã hủy</span>
                    }
                </td>

                <td>
                    @* ta ktra nếu trạng thái đơn hàng ở trên != 3 => ta mới hiển thị nút cho ngta hủy, còn ==3 (đơn hàng đã hủy) ; thì ta ẩn nút Cancel Order đi luôn k *@
                    @if (item.Status != 3)
                    {
                        <a asp-action="CancelOrder" class="btn btn-danger btn-sm" asp-controller="Account" asp-route-ordercode="@item.OrderCode">Cancel Order</a>
                    }
                </td>
            </tr>

        }
    </tbody>
</table>
@* database JS: tìm kiếm dữ liệu từ bảng có id="mytable" ở trên
	-VD ta có thể nhập tên, id, mã sp ... miến có thông tin nào khớp nó sẽ hiển thị ra sp đó
	*@
@section Scripts {
    <script>
        //nó gọi đến id của thẻ table ở trên =>> render ra thông tin theo dạng bảng này để tìm
        let table = new DataTable('#myTable', {
            layout: {
                topStart: {
                    buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
                }
            }
        });
    </script>
}